@import url(https://fonts.google.com/specimen/Poppins);

/* Renicialização Padrão */

* {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: Poppins, sans-serif;
    /* outline: 1px solid red;
    outline-offset: -1px; */
}

body {
    background-image: url(../assets/effects/bg-desktop\ 1.png);
    background-color: #000517;
    background-size: cover;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
}

/* Header */

header .nav {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 100px;
    margin: 20px -55px;
}

header .nav button {
    padding: 5px 15px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 0.50);
    font-size: 25px;
    font-weight: 100;
    border: 0;
}

header .nav-second button:hover {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: rgba(255, 0, 0, 0.50);
}


header .nav-second {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header .nav-second button {
    padding: 8px;
    border-radius: 15px;
    background-color: rgba(217, 217, 217, 0.50);
    border: 0px;
    font-weight: 600;
}

/* Configurações da Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;
    width: 100%;
    gap: 20px;
}

/* Estilização do card */

main .card {
    background-color: rgba(57, 196, 255, 0.80);
    border-radius: 15px;
    display: flex;
    padding: 15px;
    height: 270px;
    width: 380px;
}

main .card-container {
    display: flex;
    justify-content: space-between;
}

/* Parte de cima do card (Texto) */

main .aovivo {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-bottom: 12px;
}

main .aovivo {
    color: #83DAFF;
    font-weight: 600;
}

main .nome {
    font-size: 32px;
    font-weight: 900;
}

main .nome-trilha {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 24px;
}

/* Parte do meio do card (Texto) */

main .info-second {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    margin-bottom: 45px;
}

main .cargo {
    font-size: 20px;
    font-weight: 900;
    width: 100%;
    text-align: right;
}

main .assunto {
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    width: 243px;
    text-align: right;
    color: #000;
}

/* Botão */

main .button {
    display: flex;
    width: 50%;
    justify-content: center;
}

/* Estilização de Imagens/Circle/Button */

main .card-container #img-palestrante {
    width: 126px;
    height: 123px;
    border-radius: 15px;
    box-shadow: 0px 1px 10px 5px rgba(28, 131, 178, 0.99);
}

main .card-container .live-circle {
    width: 19px;
    height: 19px;
    background-color: #F00;
    border-radius: 100%;
    filter: drop-shadow(0px 2px 3px rgba(255, 0, 0, 0.25));
    animation: pulse-animation 2s infinite;
}

main .card-container .button{
    width: 71px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    background: #FFF;
    border: 0;
    position: relative;
    bottom: 15px;
    left: 30px;
}

main .card-container .button i {
    color: #CDCDCD;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(211, 51, 51, 0.7);
    }

    50% {
        box-shadow: 0 0 10px 2px rgba(172, 29, 29, 0.3);
    }
    
    100% {
        box-shadow: 0 0 0 0 rgba(211, 51, 51, 0.7);
    }
}


.trilha-aovivo, .trilha-frontend {
    flex-direction: column;
    gap: 15px;
}