@import url(https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#titulo,
body {
  font-family: "Poppins", sans-serif;
}

.logos-container,
body {
  display: flex;
  justify-content: space-between;
}

body {
  background-position: center;
  /* background-image: url(../assets/effects/bg-desktop\ 1.png); */
  background-color: #000517;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header {
  padding: 4rem 2rem 2rem;
}

.logos-container {
  align-items: flex-start;
}

.logo-evento {
  display: flex;
  max-width: 8rem;
  width: 100%;
}

.logo-evento img {
  width: 100%;
}

.logo-organizacao {
  display: flex;
  max-width: 6rem;
}

.logo-organizacao img {
  height: auto;
  width: 100%;
}

main {
  padding: 0 5rem 0 2rem;
  color: #fff;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
}

#titulo {
  font-size: 2rem;
}

.cronograma {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  background-color: #39c4ff;
  padding: 1rem;
}

.cronograma:active {
  background-color: #189ad1;
  transform: scale(0.98);
}

.text-divulgacao p,
footer {
  background-size: 500%;
  background-position: 85%;
  background-image: url(../assets/effects/outline-bg.gif);
}

footer {
  display: flex;
  margin-top: 6rem;
  backdrop-filter: blur(8px);
}

.footer-container,
.img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.footer-container,
footer {
  border-radius: 3rem 3rem 0 0;
  width: 100%;
}

.footer-container {
  padding: 0.7rem;
  background: rgba(57, 196, 255, 0.85);
  gap: 1rem;
}

.text-divulgacao p {
  font-family: "Poppins", sans-serif;
  opacity: 0.5;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;
  color: #75c6f0;
  font-weight: 700;
}

.img-container {
  padding: 0.3rem;
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 0.5);
  gap: 1.5rem;
}

.img-dev,
.img-dev img {
  object-fit: cover;
  border-radius: 50%;
  background-color: #fff;
}

.img-dev {
  padding: 0.3rem;
  display: flex;
}

.img-dev img {
  width: 3.2rem;
  height: 3.2rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
}

@media (min-width: 1000px) {
  header,
  main {
    width: 60vw;
    margin: 0 auto;
  }

  .footer-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .img-dev img {
    width: 3rem;
    height: 3rem;
  }
}
