@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red;
    outline-offset: -1px; */
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar,
header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header {
    width: 100vw;
    background-color: #021233;
    border-radius: 0 0 30px 30px;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 2rem;
    gap: 2rem;
}

.navbar {
    justify-content: space-between;
}

.navbar #logo-organizacao,
header .home {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar #logo-organizacao {
    max-width: 10rem;
}

.navbar #logo-organizacao img {
    height: auto;
    width: 100%;
}

/*BOTÃO INSTAGRAM*/
header .navbar #btn-insta {
    padding: 0.5rem 1.5rem;
    /* Ajuste os valores de preenchimento conforme necessário */
    background-color: #FF8506;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

@media (max-width: 370px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding: 0.3rem 1rem;
        /* Valores de preenchimento menores para telas menores */
        font-size: 14px;
        /* Tamanho de fonte menor para telas menores, ajuste conforme necessário */
    }
}


.navbar #btn-insta a {
    text-decoration: none;
    color: #021233;
    font-size: 15px;
    font-weight: 700;
}

header .home {
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
}

header .home #logo-home {
    display: flex;
    max-width: 12rem;
    width: 100%;
}

.navbar,
header .home #logo-home img {
    width: 100%;
}

header .home #titulo-home {
    max-width: 80%;
    text-align: center;
    line-height: 1.1;
}

header .home #titulo-home h1 {
    font-size: 20px;
    color: #51cafd;
    font-weight: 500;
}

.titulo-trilha,
header .home #titulo-home h1 span {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main #cronograma-frontend {
    padding-top: 1.5rem;
    margin-top: 4rem;
    background-color: #021233;
    border-radius: 30px;
    width: 600px;
}

.titulo-trilha {
    color: #51cafd;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards-palestrante-content {
    padding: 1rem 1.5rem;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 400px;
    border-bottom: 1.5px solid #51cafd;
}

.palestrante-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.palestrante-picture img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.card-informacoes {
    justify-content: cem;
    gap: .75rem;
}

.card-informacoes,
.informacoes-palestrante {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.informacoes-palestrante .nome {
    color: #51cafd;
    font-weight: 700;
}

.informacoes-palestrante .cargo {
    font-size: 14px;
    color: #fff;
}

.informacoes-palestra .assunto {
    font-size: 14px;
    color: #51cafd;
    font-weight: 700;
}

.palestrante-meta,
.palestrante-meta .redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.palestrante-meta {
    flex-wrap: wrap;
    gap: .75rem;
    align-items: flex-end;
}

.palestrante-meta .redes-sociais {
    align-items: center;
    gap: .15rem;
}

.palestrante-meta .redes-sociais a {
    font-size: 25px;
    color: #fff;
}

.palestrante-meta .horario p {
    font-weight: 700;
    color: #fff;
}

.cards-topicos-content {
    padding: 1rem 1.5rem;
    border-bottom: 1.5px solid #51cafd;
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    max-width: 450px;
    text-align: center;
}

.cards-topicos-content .horario-topico {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.cards-topicos-content .nome-topico {
    color: #FF8506;
    background-color: #021233;
    border-radius: 50px;
    font-weight: 700;
    flex: 1;
    width: 100%;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


input {
    padding: .7rem;
}

.hidden {
    display: none;
}

@media (max-width:390px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.8rem;
        padding: .3rem 1rem;
        font-size: 14px;
    }

    .cards-palestrante-content,
    .navbar {
        flex-direction: column;
    }

    .assunto,
    .cargo,
    .horario,
    .informacoes-palestrante .nome {
        text-align: center;
    }

    .palestrante-meta {
        align-items: center;
    }

    .palestrante-meta .redes-sociais {
        flex-direction: row;
        gap: 1rem;
    }
}



/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem 2rem;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
}

.carousel .card .img {

    height: 200px;
    width: 200px;

}

.card .img img {
    width: 180px;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}